<table mat-table [dataSource]="dataSource" class="weather-widget-forecast-table">
    <ng-container *ngFor="let column of columns$ | async" [matColumnDef]="column.columnDef">
        <th mat-header-cell *matHeaderCellDef>
            {{column.header}}
        </th>
        <td mat-cell *matCellDef="let row">
            {{column.cell(row)}}
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns$ | async"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns$ | async;"></tr>
  </table>